@import "partials/colors";

section#contact
{
    height: auto;
    display: flex;
    justify-content: center;

    #socials-row
    {
        width: 100%;

        a
        {
            font-size: 30px;
            margin-right: 10px;
            transition: color .1s ease-in-out;

            &:hover
            {
                color: $accent;
            }
        }
    }
}