@use "partials/colors" as *;
@use "partials/fonts" as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-1;
    font-weight: normal;
    font-size: 16px;
}


html, body {
    height: 100%;
}