@use "partials/colors" as *;
@use "partials/fonts" as *;


body {
    background-color: $color-background;
    color: $color-light;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 5px;
    letter-spacing: 2px;
    color: $color-primary;
    font-family: $font-2;
}


p {
    //font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: $font-2;
}


section#landing {
    background-color: $color-surface-2;
    padding: 30px;
    border-radius: 2px;

    #landing-links {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        grid-column-gap: 10px;

        a {
            background-color: $color-surface;
            padding: 7px 15px;
            border-radius: 3px;
            min-width: 200px;
            width: fit-content;
            text-align: center;
            font-weight: 200;
            transition: background-color .2s ease-out;
            letter-spacing: 1px;
            font-size: 1.05rem;

            &:hover {
                background-color: $color-primary;
            }
        }
    }
}