@use "partials/colors" as *;
@use "partials/fonts" as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-1;
    font-weight: normal;
    font-size: 15px;
    scroll-behavior: smooth;
}


html, body {
    height: 100%;
}


body {
    background-color: $color-background;
    color: $color-light;
    //display: flex;
    //flex-direction: column;
}


h1 {
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 5px;
    letter-spacing: 2px;
    color: $color-primary;
    font-family: $font-2;
}


p {
    letter-spacing: 1px;
    font-weight: 200;
    font-family: $font-2;
}


#bg-particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.4;
    pointer-events: none;
    width: 100%;
    height: 100%;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}


section#landing {
    height: 100%;
    position: relative;

    main {
        background-color: $color-surface-2;
        padding: 30px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        width: calc(100% - 100px);
        box-sizing: content-box;

        #landing-links {
            display: flex;
            margin-top: 20px;
            grid-column-gap: 10px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 22px;
                opacity: 0.7;
                transition: opacity .1s ease-out;
                background-color: $color-surface;
                padding: 5px;
                box-sizing: content-box;
                border-radius: 5px;

                &:hover {
                    opacity: 1;
                }

                svg {
                    color: $color-primary;
                    height: 100%;
                    min-width: 100%;
                    padding: 1px;
                }
            }
        }
    }


    #down-chevron-container {
        //background-color: red;
        width: 45px;
        position: absolute;
        bottom: 20px;
        display: flex;
        place-content: center;

        svg {
            color: $color-light-2;
            min-width: 100%;
            height: min-content;
        }
    }
}