@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-variation-settings: "wdth" normal;
  font-weight: normal;
  font-size: 17px;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  background-color: #131314;
  color: #e7e7e7;
}

#bg-particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  opacity: 0.2;
  pointer-events: none;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #FF6600;
  color: #FF6600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 0.9rem;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.1s ease-out, color 0.1s ease-out, font-weight 0.1s ease-out;
}
button:hover, button.active {
  color: #131314;
  background-color: #FF6600;
  font-weight: 600;
}

section {
  padding: 45px 15px;
}
section#landing {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#landing main {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
section#landing main h1 {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 5px;
  letter-spacing: 4px;
  color: #FF6600;
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-variation-settings: "wdth" normal;
  text-transform: uppercase;
  line-height: 3rem;
}
section#landing main p {
  letter-spacing: 1px;
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Source Code Pro", monospace;
  font-variation-settings: "wdth" normal;
}
section#landing main button#learn-more-btn {
  margin-top: 15px;
}
section#landing main #landing-links {
  display: flex;
  margin-top: 25px;
  grid-column-gap: 10px;
}
section#landing main #landing-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  opacity: 0.85;
  transition: opacity 0.1s ease-out, color 0.1s ease-out;
  background-color: #1b1b1b;
  padding: 5px;
  box-sizing: content-box;
  border-radius: 5px;
}
section#landing main #landing-links a:hover {
  opacity: 1;
}
section#landing main #landing-links a:hover svg {
  color: #e7e7e7;
}
section#landing main #landing-links a svg {
  color: #b9b8b8;
  height: 100%;
  min-width: 100%;
  padding: 1px;
}
section#landing #down-chevron-container {
  width: 45px;
  position: absolute;
  bottom: 20px;
  display: flex;
  place-content: center;
}
section#landing #down-chevron-container svg {
  color: #b9b8b8;
  min-width: 100%;
  height: min-content;
}

section#portfolios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section#portfolios #portfolio-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #FF6600;
  height: fit-content;
  background-color: rgba(27, 27, 27, 0.95);
  overflow: hidden;
}
section#portfolios #portfolio-content #tabs-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(27, 27, 27, 0.95);
}
section#portfolios #portfolio-content #tabs-row button {
  flex: 1;
  border: none;
  border-radius: 3px;
  padding: 7px 0;
  font-weight: 500;
  letter-spacing: 0.5px;
}
section#portfolios #portfolio-content #tabs-row button:first-of-type {
  border-top-left-radius: 5px;
}
section#portfolios #portfolio-content #tabs-row button:first-of-type.active {
  box-shadow: 10px 0 6px rgba(0, 0, 0, 0.08);
}
section#portfolios #portfolio-content #tabs-row button:last-of-type {
  border-top-right-radius: 5px;
}
section#portfolios #portfolio-content #tabs-row button:last-of-type.active {
  box-shadow: -10px 0 6px rgba(0, 0, 0, 0.08);
}
section#portfolios #portfolio-content #tabs-row button:not(:first-of-type, :last-of-type) {
  border-left: none;
  border-right: none;
}
section#portfolios #portfolio-content #tabs-row button:not(.active) {
  opacity: 0.6;
}
section#portfolios #portfolio-content #portfolio-container .portfolio {
  padding: 12px;
}
section#portfolios #portfolio-content #portfolio-container .portfolio:not(.active) {
  display: none;
}

section#contact {
  display: none;
}
section#contact h2 {
  color: #FF6600;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-variation-settings: "wdth" normal;
}

/*# sourceMappingURL=index.css.map */
