@import "util/colors";
@import "util/fonts";
@import "util/breakpoints";


*
{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


html, body
{
    height: 100%;
}


body
{
    background-color: $black;
    color: $white;
    font-family: $content-font;
}


a
{
    color: inherit;
    text-decoration: none;
}


h1, h2, h3
{
    font-family: $header-font;
}


h4
{
    text-transform: uppercase;
    font-weight: $header-2;
    letter-spacing: 1px;
    margin-bottom: 1px;
    font-size: 20px;
}


p
{
    font-weight: $content-2;
}


.accent
{
    color: $accent;
}


.divider
{
    border-bottom: 1px solid $mid-gray;
    width: 250px;
    margin: 0 auto;
}


.link-button
{
    font-family: inherit;
    border: 1px solid $accent;
    background-color: transparent;
    color: inherit;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 20px;
    transition: background-color .1s ease-in-out;
    border-radius: 5px;
    display: block;

    &:hover
    {
        background-color: $accent;
        cursor: pointer;
    }
}


#particles
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .25;
}


section
{
    width: 100%;
    min-height: 700px;
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .center-page-content
    {
        width: 100%;
        max-width: 500px;

        @include lg()
        {
            max-width: 700px;
        }

        h3
        {
            width: fit-content;
            border-bottom: 1px solid $accent;
            padding-bottom: 5px;
            margin-bottom: 20px;
            font-size: 20px;
        }
    }
}

