@use "partials/colors" as *;
@use "partials/fonts" as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include set-font($content-font);
    font-weight: normal;
    font-size: 17px;
    scroll-behavior: smooth;
}


html, body {
    height: 100%;
}


body {
    background-color: $color-background;
    color: $color-light;
}


#bg-particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    opacity: 0.4;
    pointer-events: none;
    width: 100%;
    height: 100%;
    //position: relative;

    &::after {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: black;
        opacity: 0.2;
        backdrop-filter: blur(7px);
        z-index: -1;
    }
}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 0.9rem;
    width: fit-content;
    cursor: pointer;
    $transition: 0.1s ease-out;
    transition: background-color $transition, color $transition, font-weight $transition;

    &:hover, &.active {
        color: $color-background;
        background-color: $color-primary;
        font-weight: 600;
    }
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}


section#landing {
    height: 100%;
    position: relative;

    main {
        padding: 50px 30px;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        width: calc(100% - 25px);
        max-width: 600px;

        h1 {
            font-weight: 300;
            font-size: 3rem;
            margin-bottom: 5px;
            letter-spacing: 4px;
            color: $color-primary;
            @include set-font($header-font);
            text-transform: uppercase;
            line-height: 3rem;
        }

        p {
            letter-spacing: 1px;
            font-weight: 300;
            @include set-font($font-source-code-pro);
        }


        button#learn-more-btn {
            margin-top: 20px;
        }


        #landing-links {
            display: flex;
            margin-top: 25px;
            grid-column-gap: 12px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 22px;
                opacity: 0.7;
                transition: opacity .1s ease-out;
                background-color: $color-surface;
                padding: 5px;
                box-sizing: content-box;
                border-radius: 5px;

                &:hover {
                    opacity: 1;
                }

                svg {
                    //color: $color-primary;
                    color: $color-light-2;
                    height: 100%;
                    min-width: 100%;
                    padding: 1px;
                    //stroke-width: 1.5px;
                }
            }
        }
    }


    #down-chevron-container {
        width: 45px;
        position: absolute;
        bottom: 20px;
        display: flex;
        place-content: center;

        svg {
            color: $color-light-2;
            min-width: 100%;
            height: min-content;
        }
    }
}



section#portfolio {
    min-height: 100%;
    padding: 15px;
    justify-content: flex-start;

    #portfolio-content {
        width: 100%;

        #tabs-row {
            display: flex;
            flex: 1;
            justify-content: space-evenly;
            align-items: center;
            column-gap: 5px;

            button {
                flex: 1;
            }
        }

        #tab-container {
            background-color: blue;
            height: 100%;

            .portfolio {
                background-color: green;
                //display: none;

                &:not(.active) {
                    display: none;
                }
            }
        }


    }
}