@use "partials/colors" as *;
@use "partials/fonts" as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include set-font($content-font);
    font-weight: normal;
    font-size: 17px;
    scroll-behavior: smooth;
}


html, body {
    height: 100%;
}


body {
    background-color: $color-background;
    color: $color-light;

    &::after {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -2;
        background-size: cover;
        background: url("../assets/img/banner.jpg") no-repeat fixed center;
        mix-blend-mode: overlay;
        opacity: 0.3;
        filter: blur(6px) contrast(100%);
    }
}


#app {
    //background-color: red;
    height: 100%;
}


#bg-particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.2;
    pointer-events: none;
    width: 100%;
    height: 100%;
}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 0.9rem;
    width: fit-content;
    cursor: pointer;
    text-align: center;
}


section {
    padding: 45px 15px;
    min-height: 300px;
}


section#landing {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    main {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        max-width: 600px;

        h1 {
            font-weight: 300;
            font-size: 3rem;
            margin-bottom: 5px;
            letter-spacing: 4px;
            color: $color-primary;
            @include set-font($header-font);
            text-transform: uppercase;
            line-height: 3rem;
        }

        p {
            //letter-spacing: 1px;
            font-weight: 200;
            @include set-font($font-source-code-pro);
        }

        #landing-links {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
            grid-column-gap: 10px;
        }
    }
}


section#portfolios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



section#contact {
    display: none;

    h2 {
        color: $color-primary;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        @include set-font($header-font);
    }
}



