@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-variation-settings: "wdth" normal;
  font-weight: normal;
  font-size: 17px;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  background-color: #131314;
  color: #e7e7e7;
}

#bg-particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  opacity: 0.4;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
#bg-particles::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.2;
  backdrop-filter: blur(7px);
  z-index: -1;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #FF6600;
  color: #FF6600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 0.9rem;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.1s ease-out, color 0.1s ease-out, font-weight 0.1s ease-out;
}
button:hover, button.active {
  color: #131314;
  background-color: #FF6600;
  font-weight: 600;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

section#landing {
  height: 100%;
  position: relative;
}
section#landing main {
  padding: 50px 30px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 25px);
  max-width: 600px;
}
section#landing main h1 {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 5px;
  letter-spacing: 4px;
  color: #FF6600;
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-variation-settings: "wdth" normal;
  text-transform: uppercase;
  line-height: 3rem;
}
section#landing main p {
  letter-spacing: 1px;
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Source Code Pro", monospace;
  font-variation-settings: "wdth" normal;
}
section#landing main button#learn-more-btn {
  margin-top: 20px;
}
section#landing main #landing-links {
  display: flex;
  margin-top: 25px;
  grid-column-gap: 12px;
}
section#landing main #landing-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  opacity: 0.7;
  transition: opacity 0.1s ease-out;
  background-color: #1b1b1b;
  padding: 5px;
  box-sizing: content-box;
  border-radius: 5px;
}
section#landing main #landing-links a:hover {
  opacity: 1;
}
section#landing main #landing-links a svg {
  color: #b9b8b8;
  height: 100%;
  min-width: 100%;
  padding: 1px;
}
section#landing #down-chevron-container {
  width: 45px;
  position: absolute;
  bottom: 20px;
  display: flex;
  place-content: center;
}
section#landing #down-chevron-container svg {
  color: #b9b8b8;
  min-width: 100%;
  height: min-content;
}

section#portfolio {
  min-height: 100%;
  padding: 15px;
  justify-content: flex-start;
}
section#portfolio #portfolio-content {
  width: 100%;
}
section#portfolio #portfolio-content #tabs-row {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 5px;
}
section#portfolio #portfolio-content #tabs-row button {
  flex: 1;
}
section#portfolio #portfolio-content #tab-container {
  background-color: blue;
  height: 100%;
}
section#portfolio #portfolio-content #tab-container .portfolio {
  background-color: green;
}
section#portfolio #portfolio-content #tab-container .portfolio:not(.active) {
  display: none;
}

/*# sourceMappingURL=index.css.map */
