@use "partials/colors" as *;
@use "partials/fonts" as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include set-font($content-font);
    font-weight: normal;
    font-size: 17px;
    scroll-behavior: smooth;
}


html, body {
    height: 100%;
}


body {
    background-color: $color-background;
    color: $color-light;

    &::after {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -2;
        background-size: cover;
        background: url("../assets/img/banner.jpg") no-repeat fixed center;
        mix-blend-mode: overlay;
        opacity: 0.3;
        filter: blur(6px) contrast(100%);
    }
}


#app {
    //background-color: red;
    height: 100%;
}


#bg-particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.2;
    pointer-events: none;
    width: 100%;
    height: 100%;
}


button {
    //display: flex;
    //justify-content: center;
    //align-items: center;
    ////padding: 5px 15px;
    //border-radius: 5px;
    //background-color: transparent;
    //border: 1px solid $color-primary;
    //color: $color-primary;
    //text-transform: uppercase;
    //letter-spacing: 1px;
    //font-weight: 400;
    //font-size: 0.9rem;
    //width: fit-content;
    //cursor: pointer;
    //$transition: 0.1s ease-out;
    //transition: background-color $transition,
    //color $transition,
    //font-weight $transition;
    //text-align: center;
    //
    //&:not(.icon-button):hover, &.active {
    //    color: $color-background;
    //    background-color: $color-primary;
    //    font-weight: 600;
    //}
}


section {
    padding: 45px 15px;
    min-height: 300px;
}


section#landing {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    main {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        max-width: 600px;

        h1 {
            font-weight: 300;
            font-size: 3rem;
            margin-bottom: 5px;
            letter-spacing: 4px;
            color: $color-primary;
            @include set-font($header-font);
            text-transform: uppercase;
            line-height: 3rem;
        }

        p {
            //letter-spacing: 1px;
            font-weight: 200;
            @include set-font($font-source-code-pro);
        }

        #landing-links {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
            grid-column-gap: 10px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 22px;
                opacity: 0.85;
                transition: opacity .1s ease-out, color .1s ease-out;
                background-color: $color-surface;
                padding: 5px;
                box-sizing: content-box;
                border-radius: 5px;

                &:hover {
                    opacity: 1;

                    svg {
                        color: $color-light;
                    }
                }

                svg {
                    color: $color-light-2;
                    height: 100%;
                    min-width: 100%;
                    padding: 1px;
                    //stroke-width: 0.5px;
                }
            }

            //button#learn-more-btn {
            //    width: 100%;
            //    height: 100%;
            //}

            //.icon-button {
            //    padding: 7px;
            //    aspect-ratio: 1;
            //    border-color: $color-surface-2;
            //    //opacity: 0.75;
            //    transition: opacity 0.1s ease-out;
            //    //transition:
            //    opacity: 0.75;
            //
            //    svg {
            //        height: 20px;
            //        width: auto;
            //        //color: $color-light-2;
            //        color: $color-light;
            //        stroke-width: 1.5px;
            //    }
            //
            //    &:hover {
            //        opacity: 1;
            //
            //        //svg {
            //        //    color: $color-light;
            //        //}
            //    }
            //}
        }
    }

    #down-chevron-container {
        width: 45px;
        position: absolute;
        bottom: 20px;
        display: flex;
        place-content: center;

        svg {
            color: $color-light-2;
            min-width: 100%;
            height: min-content;
        }
    }
}


section#portfolios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    $border-radius: 5px;
    #portfolio-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: $border-radius;
        border: 1px solid $color-primary;
        height: fit-content;
        background-color: rgba($color-surface, 0.95);
        overflow: hidden;

        #tabs-row {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: rgba($color-surface, 0.95);

            button {
                flex: 1;
                border: none;
                border-radius: 3px;
                padding: 7px 0;
                font-weight: 500;
                letter-spacing: 0.5px;

                $active-box-shadow-offset: 10px;
                $active-box-shadow-style: 0 6px rgba(black, 0.08);
                &:first-of-type {
                    border-top-left-radius: $border-radius;

                    &.active {
                        box-shadow: $active-box-shadow-offset $active-box-shadow-style;
                    }
                }

                &:last-of-type {
                    border-top-right-radius: $border-radius;

                    &.active {
                        box-shadow: -$active-box-shadow-offset $active-box-shadow-style;
                    }
                }

                &:not(:first-of-type,:last-of-type) {
                    border-left: none;
                    border-right: none;
                }

                &:not(.active) {
                    opacity: 0.6;
                }
            }
        }

        #portfolio-container {
            .portfolio {
                padding: 12px;

                &:not(.active) {
                    display: none;
                }
            }
        }
    }
}



section#contact {
    display: none;

    h2 {
        color: $color-primary;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        @include set-font($header-font);
    }
}



footer {
    background-color: $color-surface;
    padding: 10px 15px;

    p {
        font-weight: 300;
        font-size: 0.85rem;
        letter-spacing: 1px;
        color: $color-light-2;

        span {
            font-size: inherit;
            font-weight: inherit;

        }
    }
}
