@import "partials/colors";
@import "partials/fonts";


*
{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


html, body
{
    height: 100%;
}


body
{
    background-color: $color-dark;
    color: $color-light;
    font-family: $font-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    h1
    {
        //letter-spacing: 1px;
        margin-bottom: 12px;
    }

    p
    {
        letter-spacing: 1px;
    }
}