//@use "partials/colors" as *;
//
//button {
//    padding: 7px;
//    aspect-ratio: 1;
//    border-color: $color-surface-2;
//    //opacity: 0.75;
//    transition: opacity 0.1s ease-out;
//    //transition:
//    opacity: 0.75;
//
//    svg {
//        height: 20px;
//        width: auto;
//        //color: $color-light-2;
//        //color: $color-light;
//        //stroke-width: 1.5px;
//    }
//
//    &:hover {
//        opacity: 1;
//
//
//        //svg {
//        //    color: $color-light;
//        //}
//    }
//
//
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    //padding: 5px 15px;
//    border-radius: 5px;
//    background-color: transparent;
//    border: 1px solid $color-primary;
//    color: $color-primary;
//    text-transform: uppercase;
//    letter-spacing: 1px;
//    font-weight: 400;
//    font-size: 0.9rem;
//    width: fit-content;
//    cursor: pointer;
//    $transition: 0.1s ease-out;
//    transition: background-color $transition,
//    color $transition,
//    font-weight $transition;
//    text-align: center;
//
//    &:not(.icon-button):hover, &.active {
//        color: $color-background;
//        background-color: $color-primary;
//        font-weight: 600;
//    }
//}