doctype html
html(lang='en')
    head
        include views/head-tags

    body
        #particles

        include views/landing

        .divider

        include views/about

        .divider

        include views/projects

        .divider

        include views/contact


        //.divider

        //section#projects-page
        //    .center-page-content
        //        .section-header
        //            h3 Projects
        //        .project
        //            h4 RPI-POWERED 32X16 LED MATRIX CAMERA
        //            p
        //                | A 32x16 WS2812B matrix that displays a live camera feed. Powered by a Raspberry Pi.
        //            .project-buttons
        //                a(href='https://github.com/rynstwrt/Raspberry-Pi-LED-Matrix', target='_blank') GITHUB
        //                a(href='assets/videos/ledmatrixcamera.mp4', target='_blank') DEMO
        //        .project
        //            h4 KI5CGK LOG BOOK
        //            p A log book for ham radio operators written in Python using PySide6.
        //            .project-buttons
        //                a(href='https://github.com/rynstwrt/KI5CGK-Log-Book', target='_blank') GITHUB
        //                a(href='https://github.com/rynstwrt/KI5CGK-Log-Book/releases', target='_blank') DOWNLOAD
        //        .project
        //            h4 CSS ANIMATION GALLERY
        //            p A virtual art exhibit created entirely with CSS animations.
        //            .project-buttons
        //                a(href='https://github.com/rynstwrt/CSS-Animations', target='_blank') GITHUB
        //                a(href='https://rynstwrt.github.io/CSS-Animations/', target='_blank') DEMO
        //        .project
        //            h4 CHORD PROGRESSION GENERATOR
        //            p A web-based chord progression generator for musicians.
        //            .project-buttons
        //                a(href='https://github.com/rynstwrt/ChordProgressionGenerator', target='_blank') GITHUB
        //                a(href='https://rynstwrt.github.io/ChordProgressionGenerator/', target='_blank') DEMO

        //.divider

        //section#contact-page
        //    .center-page-content
        //        .section-header
        //            h3 Contact
        //        #socials-row
        //            a.fa-brands.fa-github(href='https://github.com/rynstwrt/', target='_blank')
        //            a.fa-brands.fa-unsplash(href='https://unsplash.com/@rynstwrt', target='_blank')
        //            a.fa-regular.fa-envelope(href='mailto:ryanstewartalex@gmail.com', target='_blank')