doctype html
html(lang='en')
    head
        include views/includes/head-tags

    body
        #particles

        include views/landing

        .divider

        include views/about

        .divider

        include views/projects