@import 'tailwindcss';
@import '@fontsource/fira-mono';
@plugin 'flowbite/plugin';
@custom-variant dark (&:where(.dark, .dark *));
@source "../../node_modules/flowbite-svelte/dist";
@source "../../node_modules/flowbite-svelte-icons/dist";


@theme {
	--font-inter: "Inter Variable", sans-serif;
	--font-source-code-pro: "Source Code Pro Variable", monospace;

	--color-primary-50: #fff5f2;
	--color-primary-100: #fff1ee;
	--color-primary-200: #ffe4de;
	--color-primary-300: #ffd5cc;
	--color-primary-400: #ffbcad;
	--color-primary-500: #fe795d;
	--color-primary-600: #ef562f;
	--color-primary-700: #eb4f27;
	--color-primary-800: #cc4522;
	--color-primary-900: #a5371b;
}


@layer base {
	html, body {
		@apply font-inter bg-gray-800 text-white;
	}

	body {
		min-height: 100vh;
		margin: 0;
		background-image: url("$lib/images/city.jpg");
		background-size: cover;
		background-position: left;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	input, button {
		font-size: inherit;
		font-family: inherit;
	}

	button:focus:not(:focus-visible) {
		outline: none;
	}
}


