@import 'tailwindcss';
@import '@fontsource-variable/source-code-pro';
@import '@fontsource-variable/open-sans';
@plugin 'flowbite/plugin';
@custom-variant dark (&:where(.dark, .dark *));
@source "../../node_modules/flowbite-svelte/dist";
@source "../../node_modules/flowbite-svelte-icons/dist";


@theme {
	--font-open-sans: "Open Sans Variable", sans-serif;
	--font-source-code-pro: "Source Code Pro Variable", monospace;

	--color-accent: #FF6000;
}


@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		line-height: 1;
	}

	html, body {
		height: 100%;
	}

	body {
		@apply font-open-sans bg-gray-800 text-gray-200;
		min-height: 100vh;
		display: flex;
		flex-direction: column;

		&::before {
			content: "";
			background-image: url("$lib/images/city.jpg");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
		}
	}

	input, button {
		font-size: inherit;
		font-family: inherit;
	}

	button:focus:not(:focus-visible) {
		outline: none;
	}
}


