section#about
    .center-page-content
        h3 About

        #about-image
            img(src='assets/images/ryn.png', alt='A picture of Ryn Stewart.')

        .text-section
            h4 My Profile
            p Full stack developer with experience working with desktop, server, and web technologies.
        .text-section
            h4 My Hobbies
            p I like programming microcontrollers, making websites, producing music, and DJing. I&apos;m also a ham radio operator!

        a#resume-button.link-button(href='assets/pdfs/resume.pdf', target='_blank') DOWNLOAD MY RESUME