header
    #logo-and-name
        #header-logo
        h1 Ryn #[span.accent Stewart]

    nav
        ul
            li: a#nav-home(href='#home-page') #[span.accent 01.]Home
            li: a#nav-about(href='#about-page') #[span.accent 02.]About
            li: a#nav-projects(href='#projects-page') #[span.accent 03.]Projects
            li: a#nav-contact(href='#contact-page') #[span.accent 04.]Contact