section#landing
    header
        #logo-and-name
            #header-logo
            h1 Ryn #[span.accent Stewart]
        nav
            ul
                li: a#nav-home(href='#landing') #[span.accent 01.]Home
                li: a#nav-about(href='#about') #[span.accent 02.]About
                li: a#nav-projects(href='#projects') #[span.accent 03.]Projects

    #center-content
        h2 Hello!
        h2 I'm #[span.accent Ryn].
        h2 Full Stack Developer.
        p
            span.accent Thanks
            |  for checking out my site!
        #socials-row
            a.fa-brands.fa-github(href='https://github.com/rynstwrt/', target='_blank')
            a.fa-brands.fa-unsplash(href='https://unsplash.com/@rynstwrt', target='_blank')
            a.fa-regular.fa-envelope(href='mailto:rynstwrt17@gmail.com?subject=Message From rynstew.art')
        a#get-started.link-button(href='#about') Get Started