@use "sass:list";
@use "sass:meta";

section#landing {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    main {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        max-width: 600px;

        h1 {
            font-weight: 500;
            margin-bottom: 5px;
            letter-spacing: 4px;
            color: $color-primary;
            //font-size: 3rem;
            font-size: 4rem;
            text-transform: uppercase;
            //line-height: 3.25rem;
            //line-height: 3.15rem;
            //line-height: 4.3rem;
            //line-height: 4lh;
            line-height: 3.1lh;
            @include default-font("header");

            span {
                //line-height: unset;
                //font-size: unset;
                //font-weight: unset;
                //line-height: unset;
                font-size: inherit;
                font-weight: inherit;
                //line-height: inherit;
                font-family: inherit;
            }
        }

        #byline {
            @include source-code-pro-font;
            font-size: 1.05rem;
            font-weight: 300;
            line-height: 1.1lh;
            //letter-spacing: 1px;
            //letter-spacing: 2px;
            //margin-top: 5px;
        }

        #social-grid {
            display: grid;
            //grid-template-columns: repeat(3, 1fr);
            grid-template-columns: repeat(3, auto);
            grid-auto-rows: auto;
            grid-gap: 8px;
            margin-top: 30px;
            margin-right: 70px;
            width: 100%;

            @media (min-width: 500px) {
                margin-right: 80px;
            }

            #resume-btn {
                grid-column: auto / span 2;
                border-color: $color-primary;
                //background-color: red;
                display: flex;
                justify-content: center;
                align-items: center;

                .social-text {
                    //color: $color-primary;
                }
            }
        }
    }
}