include includes/skillbar


section#skills
    .center-page-content
        h3 Skills

        .skill-section
            h4 Code
            .skill-row
                p HTML:
                +skillbar("100%")
            .skill-row
                p CSS:
                +skillbar("95%")
            .skill-row
                p SCSS:
                +skillbar("95%")
            .skill-row
                p JS:
                +skillbar("100%")
            .skill-row
                p NodeJS:
                +skillbar("90%")
            .skill-row
                p Java:
                +skillbar("80%")
            .skill-row
                p Python:
                +skillbar("85%")
            .skill-row
                p C/C++:
                +skillbar("70%")
            .skill-row
                p C#:
                +skillbar("50%")
            .skill-row
                p SQL:
                +skillbar("60%")

        .skill-section
            h4 Design
            .skill-row
                p Photoshop:
                +skillbar("90%")
            .skill-row
                p Illustrator:
                +skillbar("75%")

        .skill-section
            h4 Audio
            .skill-row
                p Ableton:
                +skillbar("75%")
            .skill-row
                p Pro Tools:
                +skillbar("50%")

        .skill-section
            h4 Modeling
            .skill-row
                p OpenSCAD:
                +skillbar("90%")
            .skill-row
                p Maya:
                +skillbar("65%")
            .skill-row
                p Blender:
                +skillbar("45%")