include includes/skillbar


section#skills
    .center-page-content
        h3 Skills

        .skill-section
            h4 Languages
            ul
                li HTML (incl. Pug)
                li CSS (incl. SASS/SCSS)
                li Javascript (incl. Node.js)
                li Java
                li Python
                li C/C++
                li C#
                li SQL
                li Lua
                li Shell scripting

        .skill-section
            h4 Technologies
            ul
                li Electron
                li React
                li Spigot for Minecraft
                li Raspberry Pi
                li Arduino/ESP8266/ESP32
                li PlatformIO
                li .NET Core/Framework
                li MySQL/NoSQL
                li Roblox

        .skill-section
            h4 Graphics
            ul
                li Adobe Photoshop
                li Adobe Illustrator

        .skill-section
            h4 Audio
            ul
                li Ableton
                li Pro Tools
                li Audacity

        .skill-section
            h4 3D
            ul
                li OpenSCAD
                li Autodesk Maya
                li Blender
                li FDM 3D printing