section#skills
    .center-page-content
        h3 Skills

        .skill-section
            h4 Programming
            .skill-row
                p HTML:
                .skill-bar-container
                    span.skill-bar
            .skill-row
                p CSS:
                .skill-bar-container
                    span.skill-bar
            .skill-row
                p JS:
                .skill-bar-container
                    span.skill-bar

        .skill-section
            h4 Graphic Design
            p asdf

        .skill-section
            h4 Audio Engineering
            p asdf

        .skill-section
            h4 3D Modeling
            p asdf