section#skills
    .center-page-content
        h3 Skills

        .skill-section
            h4 Code
            .skill-row
                p HTML:
                .skill-bar-container
                    span.skill-bar
            .skill-row
                p CSS:
                .skill-bar-container
                    span.skill-bar
            .skill-row
                p JS:
                .skill-bar-container
                    span.skill-bar

        .skill-section
            h4 Design
            .skill-row
                p Photoshop:
                .skill-bar-container
                    span.skill-bar
            .skill-row
                p Illustrator:
                .skill-bar-container
                    span.skill-bar

        .skill-section
            h4 Audio
            .skill-row
                p Ableton:
                .skill-bar-container
                    span.skill-bar
            .skill-row
                p Pro Tools:
                .skill-bar-container
                    span.skill-bar

        .skill-section
            h4 Modeling
            .skill-row
                p Maya:
                .skill-bar-container
                    span.skill-bar
            .skill-row
                p Blender:
                .skill-bar-container
                    span.skill-bar
            .skill-row
                p OpenSCAD:
                .skill-bar-container
                    span.skill-bar