* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: red;
    color: white;
    /*height: 100vh;*/
}


#app {
    /*height: 100%;*/
    /*display: block;*/
    /*width: 100%;*/
    /*height: 100dvh;*/
    /*display: block;*/
}