/*:root {*/
/*    --color-1: #FF6600;*/
/*}*/


/*:root {*/
/*    --font-1: "Roboto", sans-serif;*/
/*}*/


/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: var(--font-1);*/
/*}*/


/*html, body {*/
/*    height: 100%;*/
/*}*/


/*body {*/
/*    background-color: var(--color-1);*/
/*    color: white;*/
/*}*/


/*#app {*/
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/