$header-font: "Victor Mono", Arial, monospace;
$header-1: 300;
$header-2: 400;
$header-3: 500;
$header-4: 600;
$header-5: 700;

$content-font: "Source Code Pro", monospace;
$content-1: 200;
$content-2: 300;
$content-3: 400;
$content-4: 500;
$content-5: 600;
$content-6: 700;