#down-chevron-container {
    width: 45px;
    position: absolute;
    bottom: 20px;
    display: flex;
    place-content: center;

    svg {
        color: var(--color-light-2);
        min-width: 100%;
        height: min-content;
        /*color: red;*/
    }
}