//
//#bg-particles {
//    //position: fixed;
//    position: fixed;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    left: 0;
//    z-index: -1;
//    //opacity: 0.08;
//    opacity: .75;
//    pointer-events: none;
//    width: 100%;
//    height: 100%;
//    mix-blend-mode: overlay;
//    //background-blend-mode: overlay;
//
//    &::before {
//        content: "";
//        position: absolute;
//        top: 0;
//        right: 0;
//        bottom: 0;
//        left: 0;
//        z-index: -2;
//        background-size: cover;
//        background: url("../assets/img/banner.jpg") no-repeat fixed center;
//        opacity: 0.7;
//        filter: blur(6px) contrast(100%);
//        //overflow: hidden;
//    }
//}
//
//
//section:not(#landing) {
//    margin: 50px auto;
//    //padding: 45px 15px;
//    max-width: 550px;
//    //background-color: red;
//    padding: 0 10px;
//    //margin: 0 auto;
//
//    h2 {
//        font-size: 1.7rem;
//    }
//}
//
//
//section#websites {
//    //padding: 0 20px;
//
//
//
//
//}





section:not(#landing) {
    margin: 50px auto;
    max-width: 550px;
    padding: 0 10px;

    h2 {
        font-size: 1.7rem;
    }
}