@use "sass:list";
@use "sass:meta";
@use "sass:color";

section#landing {
    width: 100%;
    height: 100%;
    //max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    main {
        padding: 0 20px;
        display: flex;
        flex-direction: column;

        h1 {
            font-weight: 500;
            margin-bottom: 5px;
            letter-spacing: 4px;
            color: $color-primary;
            font-size: 4rem;
            text-transform: uppercase;
            line-height: 3.1lh;
            @include default-font("header");

            span {
                font-size: inherit;
                font-weight: inherit;
                font-family: inherit;
            }
        }

        #byline {
            @include source-code-pro-font();
            font-size: 1.05rem;
            font-weight: 300;
            line-height: 1.1lh;

        }


        #links-container {
            gap: 5px;
            margin-top: 17px;
            flex-wrap: wrap;
            width: fit-content;
            display: grid;
            grid-template-columns: auto auto 100%;

            :last-child {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row: 2;
            }
        }
    }
}