@use "sass:list";
@use "sass:meta";
@use "sass:color";

section#landing {
    width: 100%;
    height: 100%;
    //max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding: 0 30px;

    main {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        //background-color: red;
        //overflow: hidden;

        h1 {
            font-weight: 500;
            margin-bottom: 5px;
            letter-spacing: 4px;
            color: $color-primary;
            //font-size: 3rem;
            font-size: 4rem;
            text-transform: uppercase;
            //line-height: 3.25rem;
            //line-height: 3.15rem;
            //line-height: 4.3rem;
            //line-height: 4lh;
            line-height: 3.1lh;
            @include default-font("header");

            span {
                //line-height: unset;
                //font-size: unset;
                //font-weight: unset;
                //line-height: unset;
                font-size: inherit;
                font-weight: inherit;
                //line-height: inherit;
                font-family: inherit;
            }
        }

        #byline {
            @include source-code-pro-font;
            font-size: 1.05rem;
            font-weight: 300;
            line-height: 1.1lh;
            //letter-spacing: 1px;
            //letter-spacing: 2px;
            //margin-top: 5px;
        }


        #social-grid {
            display: flex;
            gap: 20px;
            margin-top: 15px;
            //background-color: blue;
            padding: 10px 0;

            a {
                width: 25px;
                height: 25px;
                //aspect-ratio: 1;
                display: block;
                //border: 1px solid rgba($color-light-2, 0.3);
                //box-sizing: content-box;
                //padding: 6px;
                border-radius: 3px;
                //background-color: green;
                opacity: 0.7;

                svg {
                    max-width: 100%;
                    max-height: 100%;
                    //width: 100%;
                    //height: auto;
                    color: $color-light-2;
                    //color: $color-primary;
                    //color: color.adjust($color-primary, $saturation: -20%, $lightness: 13%)
                    //height: 1/00%;
                    //background-color: red;
                    //object-fit: contain;
                }

                &:hover {
                    //color: $color-primary;
                    //border-color: $color-primary;
                    opacity: 1;
                }
            }
        }


        //#social-grid {
        //    display: grid;
        //    grid-template-columns: repeat(3, 1fr);
        //    //grid-template-columns: repeat(3, auto);
        //    grid-auto-rows: auto;
        //    grid-gap: 8px;
        //    margin-top: 30px;
        //    //margin-right: 70px;
        //    width: 100%;
        //    max-width: 100%;
        //    //width: fit-content;
        //    //background-color: red;
        //    //place-self: center;
        //    //box-sizing: border-box;
        //
        //    //@media (min-width: 500px) {
        //    //    margin-right: 80px;
        //    //}
        //    //grid-row-gap: 10px;
        //    //grid-column-gap: 10px;
        //
        //    button {
        //        //margin: 5px;
        //        //background-color: red;
        //        //width: fit-content;
        //    }
        //
        //    #resume-btn {
        //        grid-column: auto / span 2;
        //        border-color: $color-primary;
        //        //background-color: red;
        //        display: flex;
        //        justify-content: center;
        //        align-items: center;
        //
        //        .social-text {
        //            //color: $color-primary;
        //        }
        //    }
        //}


        #resume-portfolio-buttons {
            display: flex;
            align-items: center;
            //background-color: red;
        }
    }
}