@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@mixin set-font($font, $weight: null, $width: normal) {
    @if ($weight) {
        font-weight: $weight;
    }
    font-optical-sizing: auto;
    font-style: normal;
    font-family: $font;
    font-variation-settings: "wdth" $width;
}


$font-roboto: "Roboto", sans-serif;
$font-opensans: "Open Sans", sans-serif;
$font-source-code-pro: "Source Code Pro", monospace;
$font-victor-mono: "Victor Mono", monospace;


$header-font: $font-roboto;
$content-font: $font-opensans;