@import "../util/colors";
@import "../util/breakpoints";
@import "../util/fonts";
@import "../components/header";


section#landing
{
    width: 100%;
    height: 100%;

    #center-content
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h2
        {
            font-size: 23px;

            @include md()
            {
                font-size: 40px;
            }

            letter-spacing: 2px;
        }

        p
        {
            margin-top: 10px;
            padding-bottom: 7px;
            color: $light-gray;
            border-bottom: 1px solid $accent;
            font-size: 17px;
            font-weight: $content-3;
        }

        #get-started
        {
            margin-top: 30px;
        }
    }
}