@use "sass:math";
@import "../util/fonts";
@import "../util/colors";


section#skills
{
    .center-page-content
    {
        .skill-section
        {
            background-color: $card-color;
            padding: 20px 16px;
            border-radius: 7px;

            h4
            {
                margin-bottom: 12px;
                text-decoration: underline;
                text-decoration-color: $accent;
                text-decoration-thickness: 1px;
                text-underline-offset: 5px;
                letter-spacing: 1px;
            }

            ul
            {
                li
                {
                    list-style: none;
                    margin: 4px 0;
                    //font-weight: 300;

                    &::before
                    {
                        content: "> ";
                        color: $accent-lighter;
                        font-weight: 300;
                    }
                }
            }

            &:not(:last-of-type)
            {
                margin-bottom: 15px;
            }
        }
    }
}