@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


$color-primary: #FF6600;

$color-background: #131314;
$color-surface: #1b1b1b;
$color-surface-2: #272a2c;

$color-light: #e7e7e7;
$color-light-2: #b9b8b8;


$font-1: "Roboto", sans-serif;
$font-2: "Open Sans", sans-serif;
