@use "partials/colors" as *;
@use "partials/fonts" as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include set-font($content-font);
    font-weight: normal;
    font-size: 17px;
    scroll-behavior: smooth;
}


html, body {
    height: 100%;
}


body {
    background-color: $color-background;
    color: $color-light;

    &::after {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -2;
        background-size: cover;
        //background: url("../assets/img/banner.jpg") no-repeat fixed center;
        //background: url("/img/banner.jpg") no-repeat fixed center;
        mix-blend-mode: overlay;
        opacity: 0.3;
        filter: blur(6px) contrast(100%);
    }
}


#app {
    height: 100%;
}