//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



// -------  FONTS  ------- //
@mixin set-font($font, $size: inherit, $weight: null, $width: normal) {
    @if ($weight) {
        font-weight: $weight;
    }
    font-optical-sizing: auto;
    font-style: normal;
    font-family: $font;
    font-size: $size;
    font-variation-settings: "wdth" $width;
}

$font-roboto: "Roboto", sans-serif;
$font-opensans: "Open Sans", sans-serif;
$font-source-code-pro: "Source Code Pro", monospace;
$font-victor-mono: "Victor Mono", monospace;

$header-font: $font-roboto;
$content-font: $font-opensans;



// -------  COLORS  ------- //
$color-primary: #FF6600;

$color-background: #131314;
$color-surface: #1b1b1b;
$color-surface-2: #272a2c;

$color-light: #e7e7e7;
$color-light-2: #b9b8b8;