@use "sass:list";
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

// -------  FONTS  ------- //
@mixin set-font(
    $font,
    $size: auto,
    $weight: auto,
    $width: normal) {

    //@error $font;
    font-style: auto;
    font-optical-sizing: auto;
    font-family: $font;
    //font-family: list.nth($font, 1);
    font-size: $size;
    font-weight: $weight;
    font-variation-settings: "wdth" $width;
}

$font-roboto: "Roboto", sans-serif;
$font-opensans: "Open Sans", sans-serif;
$font-source-code-pro: "Source Code Pro", monospace;
$font-victor-mono: "Victor Mono", monospace;

//$header-font1: "Victor Mono", monospace;
//$header-font2: $font-source-code-pro;
//$header-font3: $font-opensans;
//$header-font4: $font-roboto;

$header-font: $font-victor-mono;
$content-font: $font-opensans;


@mixin variable-font-common {
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


@mixin font-common {
    font-optical-sizing: auto;
    //font-weight: normal;
    font-style: normal;
}


@mixin open-sans-font {
    @include font-common;
    font-family: "Open Sans", sans-serif;
    font-variation-settings: "wdth" 100;
}

@mixin roboto-font {
    @include font-common;
    font-family: "Roboto", sans-serif;
    font-variation-settings: "wdth" 100;
}

@mixin source-code-pro-font {
    @include font-common;
    font-family: "Source Code Pro", monospace;
}

@mixin victor-mono-font {
    @include font-common;
    font-family: "Victor Mono", monospace;
}


// -------  COLORS  ------- //
$color-primary: #FF6600;

$color-background: #131314;
$color-surface: #1b1b1b;
$color-surface-2: #272a2c;

$color-light: #e7e7e7;
$color-light-2: #b9b8b8;