@use "sass:meta";
@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');


$content-font: "open-sans-font";
//$content-font: "victor-mono-font";

//$header-font: "source-code-pro-font";
$header-font: "roboto-font";


@mixin font-common {
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: auto;
}

@mixin open-sans-font($wdth: 100){
    @include font-common;
    font-family: "Open Sans", sans-serif;
    font-variation-settings: "wdth" $wdth;
}

@mixin roboto-font($wdth: 100) {
    @include font-common;
    font-family: "Roboto", sans-serif;
    font-variation-settings: "wdth" $wdth;
}

@mixin source-code-pro-font {
    @include font-common;
    font-family: "Source Code Pro", monospace;
}

@mixin victor-mono-font {
    @include font-common;
    font-family: "Victor Mono", monospace;
}

@mixin default-font($type) {
    $font: map.get((content: $content-font, header: $header-font), $type);
    @include meta.apply(meta.get-mixin("#{$font}"));
}


// -------  COLORS  ------- //
$color-primary: #FF6600;

$color-background: #131314;
$color-surface: #1b1b1b;
$color-surface-2: #272a2c;

$color-light: #e7e7e7;
$color-light-2: #b9b8b8;