
#bg-particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .09;
    pointer-events: none;
    width: 100%;
    height: 100%;
}


section:not(#landing) {
    margin: 50px auto;
    max-width: 550px;
    padding: 0 10px;

    h2 {
        font-size: 1.7rem;
    }
}