@import "./fonts/source_code_pro/source-code-pro.css";

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-display: swap;
    font-weight: normal;
    /*font-variation-settings: "wdth" 100;*/
    src: url("fonts/open_sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    /*font-variation-settings: "wdth" 100;*/
    src: url("fonts/roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
}

/*@font-face {*/
/*    font-family: "Source Code Pro";*/
/*    font-style: normal;*/
/*    !*font-variation-settings: "wdth" 100;*!*/
/*    src: url("fonts/source_code_pro/SourceCodePro-VariableFont_wght.ttf") format("truetype");*/
/*}*/

@font-face {
    font-family: "Victor Mono";
    font-style: normal;
    /*font-variation-settings: "wdth" 100;*/
    src: url("fonts/victor_mono/VictorMono-VariableFont_wght.ttf") format("truetype");
}