@import "tailwindcss";

:root {
    font-size: 16px;

    --color-primary: #FF6600;

    --color-background: #131314;
    --color-surface: #1b1b1b;
    --color-surface-2: #272a2c;

    --color-light: #e7e7e7;
    --color-light-2: #b9b8b8;
    
    --content-font: "Open Sans", sans-serif;
    --header-font: "Roboto", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--content-font);
    font-style: normal;
    font-weight: normal;
}


html, body, #app {
    height: 100%;
}


body {
    background-color: var(--color-background);
    color: var(--color-light);
    font-size: 16px;

    &::before {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        background-size: cover !important;
        z-index: -2;
        /*background: url("assets/img/bg-image2.jpeg") no-repeat fixed center;*/
        background: url("/background.webp") no-repeat fixed center;
        opacity: 0.3;
        filter: brightness(30%) contrast(105%);
    }
}


a {
    color: inherit;
    text-decoration: none;
}