@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');


:root {
    font-size: 16px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    @include default-font("content");
    font-style: normal;
    font-weight: normal;
}


html, body, #app {
    height: 100%;
}


body {
    background-color: $color-background;
    color: $color-light;
    font-size: 16px;

    &::before {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        background-size: cover !important;
        z-index: -2;
        background: url("assets/img/bg-image2.jpeg") no-repeat fixed center;
        opacity: 0.3;
        filter: brightness(30%) contrast(105%);
    }
}


a {
    color: inherit;
    text-decoration: none;
}