@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-variation-settings: "wdth" 100;
    src: url("fonts/open_sans/OpenSans-VariableFont_wdth,wght.ttf");
}


@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-variation-settings: "wdth" 100;
    src: url("fonts/roboto/Roboto-VariableFont_wdth,wght.ttf");
}


@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-variation-settings: "wdth" 100;
    src: url("fonts/source_code_pro/SourceCodePro-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Victor Mono";
    font-style: normal;
    font-variation-settings: "wdth" 100;
    src: url("fonts/victor_mono/VictorMono-VariableFont_wght.ttf");
}


:root {
    font-size: 16px;

    --color-primary: #FF6600;

    --color-background: #131314;
    --color-surface: #1b1b1b;
    --color-surface-2: #272a2c;

    --color-light: #e7e7e7;
    --color-light-2: #b9b8b8;

    /*--content-font: "Open Sans", sans-serif;*/
    --content-font: "Open Sans";
    --header-font: "Roboto";

    /* \$color-(\S+); */
    /* var(--color-$1); */

    /*\$(\S+)-font;*/
    /*var(--$1-font);*/

    /*    :deep\((.+)\)*/
    /*    $1*/
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--content-font), sans-serif;
    font-style: normal;
    font-weight: normal;
    font-optical-sizing: auto;
}


html, body, #app {
    height: 100%;
}


body {
    background-color: var(--color-background);
    color: var(--color-light);

    &::before {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        background-size: cover !important;
        z-index: -2;
        /*background: url("assets/img/bg-image2.jpeg") no-repeat fixed center;*/
        background: url("/background.webp") no-repeat fixed center;
        opacity: 0.3;
        filter: brightness(30%) contrast(105%);
    }
}


a {
    color: inherit;
    text-decoration: none;
}